@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '../../node_modules/bulma/sass/utilities/functions.sass';
@import '../../node_modules/bulma/sass/utilities/derived-variables.sass';


//variables
$dark-blue: #1b2342;
$light-dark-blue: #313854;
$med-blue: #4966b1;
$med-light-blue: #5C77BC;
$light-blue: #c9ccda;
$white: #fff;